html {
    background-color: #8f001a;
}

body {
    background-color: #8f001a;
    width: 600px;
    border: 2px solid #8f001a;
    padding: 0px 20px 20px 20px;

}

h1 {

    font-weight: 1000;
    font-size: 5rem;
    line-height: 2rem;
    color: #ffffff;
    text-align:center
}

img {
    display: block;
    margin: 0 auto;
    align: center;
}

p {
    color: red;
}

table {
    border: 1px solid black;
    background-color: #ffffff;
}

.question {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
    padding: 20px;
    border-radius: 50px/10%;

}

.food {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
    padding: 20px;
    border-radius: 50px/10%;

}
.feelings {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
    padding: 20px;
    border-radius: 50px/10%;

}

.time {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
    padding: 20px;
    border-radius: 50px/10%;

}

.events {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
    padding: 20px;
    border-radius: 50px/10%;

}
.check {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
    padding: 20px;
    border-radius: 50px/10%;

}
.Library {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
    padding: 20px;
    border-radius: 50px/10%;

}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #ffffff;
    padding: 14px 28px;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px/50%;
    font-weight: 1000
}

.comment{
    text-align: left;
    color: #fffdfd;
    font-style: italic;
    font-weight: 1000
}

#signature {
    text-align: right;
    color: #fffdfd;
    font-style: italic;
    font-weight: 1000;
}